h1{
    text-align: center;
}
#countlabel{
    display: block;
    text-align: center;
    font-size: 100px;
}
#btncontainer{
    text-align: center;
}
.buttons{
    padding: 10px 20px;
    font-size: 75 px;
    color: white;
    background-color: rgb(63, 114, 185);
    cursor: pointer ;
    border-radius: 5px;
}
.buttons:hover{
    background-color: rgb(28, 48, 148);
}