body{
    background-color: white;
}
.container{
    display: block;
    text-align: center;
background-color: lightgray;
color: rgb(8, 0, 255);
padding: 50px;
margin: 50px;
border-radius: 8px;
 box-shadow: 20px 20px 20px  rgb(138, 140, 141);
}
button{
    background-color: orange;
}
button:hover{
    background-color: brown;
    color: wheat;
}